
<div class="app-3d-background">
  <div class="cube-3d cube-1">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face right"></div>
    <div class="face left"></div>
    <div class="face top"></div>
    <div class="face bottom"></div>
  </div>
  
  <div class="cube-3d cube-2">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face right"></div>
    <div class="face left"></div>
    <div class="face top"></div>
    <div class="face bottom"></div>
  </div>
  
  <div class="cube-3d cube-3">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face right"></div>
    <div class="face left"></div>
    <div class="face top"></div>
    <div class="face bottom"></div>
  </div>
  
  <div class="cube-3d cube-4">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face right"></div>
    <div class="face left"></div>
    <div class="face top"></div>
    <div class="face bottom"></div>
  </div>
  
  <div class="pyramid-3d pyramid-1">
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
  </div>
  
  <div class="pyramid-3d pyramid-2">
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
  </div>
  
  <div class="sphere-3d sphere-1"></div>
  <div class="sphere-3d sphere-2"></div>
  
  <div class="floating-lines">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
    <div class="line line-4"></div>
  </div>
  
  <div class="floating-dots">
    <div *ngFor="let dot of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" class="dot"></div>
  </div>
</div>

<div class="app-content">

  <router-outlet></router-outlet>
</div>
 <app-navbar></app-navbar>