/* app.component.scss */
:host {
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(-45deg, #00c6ff, #0072ff, #00ffa1, #28a745);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

